@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
  font-family: 'Oswald', sans-serif;
}

.app-container {
  @apply w-screen h-screen
}

.container {
  @apply rounded-md border-2 border-white text-lg font-semibold tracking-tighter text-white
}

.btn {
  @apply rounded-sm bg-emerald-300 p-2 text-white mx-0 my-auto relative;
}

.active::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: white;
  width: 50px;
  left: 6%;
}

.icon:hover {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  border: 6px solid #6ee7b7;
}
/* ===== Scrollbar CSS ===== */
